{{> header}}

<section class="seeMovie-container text-white">
    <article class="containerMovie">
            <div class="seeMovie-Text">
             <h1>Proximamente...</h1>
             <img src="/images/play.png" alt="play" class="play-img img-fluid">
            </div>
    </article>
</section> 



{{>footer}}
